html {
	background-color: rgb(30,30,30);
}

.BaseImage {
  top: 0;
  bottom: 0;
  position: relative;
}

.Box {
	display: inline-block;
}

.App {

    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.Row {
	height: 10px;
}

.ImageUrlInput {
    font-size: 20px;
    height: 30px;
    width: 50%;
    border-radius: 4px;
    color: rgb(30,30,30);
}

.RohkostifyButton {
    height: 40px;
    font-size: 20px;
    margin-left: 10px;
    border-radius: 4px;
    background: none;
    border-style: solid;
    background-color: white;
    border-width: 0px;
    color: rgb(30,30,30);
}

.ImageGritter {
	margin-top: 20px;
}
