html {
	background-color: #131E29;
}

.BaseImage {
  top: 0;
  bottom: 0;
  position: relative;
}

.Box {
	display: inline-block;
}

.App {

    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.Row {
	height: 10px;
}

.ImageUrlInput {
    font-size: 20px;
    height: 34px;
    width: 50%;
    border-radius: 4px;
    color: #131E29;
    border-style: solid;
    border-width: 2px;
    border-color: #131E29;
}

.RohkostifyButton {
    height: 40px;
    font-size: 20px;
    margin-left: 10px;
    border-radius: 4px;
    background: none;
    border-style: solid;
    background-color: #FF6B00;
    border-width: 2px;
    color: #131E29;
    border-color: #131E29;
}

.ImageGritter {
	margin-top: 20px;
}
